<template>
  <v-container fluid>
    <br>
    <br>
    <v-layout row wrap>
      <v-layout row wrap>
        <v-flex xs8 offset-xs2 v-if="shownData.startingDate === undefined">
          <p class="subheading text-xs-center">No blocking period set. Create one by setting the finishind date below and pressing "Create".</p>
        </v-flex>
        <v-flex xs8 offset-xs2 v-if="shownData.startingDate !== undefined">
          <p class="subheading text-xs-center">Active blocking period:</p>
        </v-flex>
        <v-flex xs12 v-if="shownData.startingDate !== undefined" class="text-xs-center">
          {{ shownData.startingDate }} - {{ shownData.finishingDate }}
          <v-btn icon @click="deleteBlockAnyChanges()">
            <v-icon>close</v-icon>
          </v-btn>
        </v-flex>
        <br>
        <v-flex xs8 sm6 md4 lg2 offset-xs2 offset-sm3 offset-md4 offset-lg5>
          <v-date-picker v-model="finishingDate"></v-date-picker>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn primary :disabled="!isValidDate" @click="createBlockAnyChanges()">
              Create
            </v-btn>
          </v-card-actions>
        </v-flex>
      </v-layout>
    </v-layout>
    <v-snackbar
    :timeout="snackbarProperties.timeout"
    :color="snackbarProperties.color"
    bottom
    v-model="snackbarProperties.snackbar"
    @click="snackbarProperties.snackbar = false"
    >
      {{ snackbarProperties.text }}
    </v-snackbar>
  </v-container>
</template>

<script>
import BlockAnyChangesService from '../services/BlockAnyChangesService'
import JwtDecodeService from '../services/JwtDecodeService'

let blockAnyChangesService = new BlockAnyChangesService()
let jwtDecodeService = new JwtDecodeService()

export default {
  data () {
    return {
      blockAnyChanges: {
        idBlockAnyChange: 0,
        idInitiator: undefined,
        startingDate: undefined,
        finishingDate: undefined,
        active: true
      },
      idBlockAnyChange: 0,
      startingDate: undefined,
      finishingDate: undefined,
      identification: {},
      shownData: {
        startingDate: undefined,
        finishingDate: undefined
      },
      snackbarProperties: {
        timeout: 3000,
        snackbar: false,
        y: 'bottom',
        text: null,
        color: 'black'
      }
    }
  },
  computed: {
    isValidDate () {
      return this.finishingDate !== undefined && Date.parse(this.finishingDate) > Date.now()
    }
  },
  methods: {
    getBlockAnyChanges () {
      blockAnyChangesService.getBlockAnyChanges()
        .then(response => {
          if (response.status === 200) {
            if (response.data !== '') {
              this.blockAnyChanges = response.data
              this.setDates(response.data)
            }
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    createBlockAnyChanges () {
      this.blockAnyChanges.idBlockAnyChange = this.idBlockAnyChange
      this.blockAnyChanges.idInitiator = this.identification
      this.blockAnyChanges.startingDate = Date.now()
      this.blockAnyChanges.finishingDate = Date.parse(this.finishingDate)
      blockAnyChangesService.setBlockAnyChanges(this.blockAnyChanges)
      .then(response => {
        if (response.status === 200) {
          if (this.blockAnyChanges.idBlockAnyChange === 0) {
            this.blockAnyChanges.idBlockAnyChange = response.data.extraData
            if (response.data.code === 200) {
              this.setDates(this.blockAnyChanges)
              this.openSnackbar('success', response.data.message)
            } else {
              this.openSnackbar('warning', response.data.message)
            }
          } else {
            if (response.data.code === 200) {
              this.setDates(this.blockAnyChanges)
              this.openSnackbar('success', response.data.message)
            } else {
              this.openSnackbar('warning', response.data.message)
            }
          }
        }
      })
      .catch(error => {
        this.openSnackbar('error', 'Could not create blocker!')
        console.log(error)
      })
    },
    deleteBlockAnyChanges () {
      blockAnyChangesService.deleteBlockAnyChanges()
      .then(response => {
        if (response.status === 200) {
          if (response.data.code === 200) {
            this.resetData()
            this.openSnackbar('success', response.data.message)
          } else {
            this.openSnackbar('warning', response.data.message)
          }
        }
      })
      .catch(error => {
        this.openSnackbar('error', 'Could not create blocker!')
        console.log(error)
      })
    },
    openSnackbar (color, message) {
      this.snackbarProperties.color = color
      this.snackbarProperties.text = message
      this.snackbarProperties.snackbar = true
    },
    setDates (blockAnyChanges) {
      this.shownData.startingDate = new Date(blockAnyChanges.startingDate)
      this.shownData.startingDate = this.shownData.startingDate.toDateString()
      this.shownData.finishingDate = new Date(blockAnyChanges.finishingDate)
      this.shownData.finishingDate = this.shownData.finishingDate.toDateString()
    },
    resetData () {
      this.shownData.startingDate = undefined
      this.shownData.finishingDate = undefined
    }
  },
  created () {
    let obj = jwtDecodeService.decode(localStorage.getItem('JWT').substr(7))
    this.identification = obj.identification
  },
  beforeMount () {
    this.getBlockAnyChanges()
  }
}
</script>