<template>
  <v-container fluid>
    <br>
    <br>
    <v-layout row wrap>
      <v-flex xs8 offset-xs2 v-if="updates.hasRoom === false">
        <p class="subheading text-xs-center">You do not have any assigned room. Please create a room request.</p>
      </v-flex>
      <v-flex v-else-if="updates.changeRoomRequests.length != 0">
        <p class="subheading text-xs-center">You have active change room requests from other students. Accept one or remove all of them in order to create a change room request.</p>
      </v-flex>
      <v-layout row wrap v-else>
        <v-flex xs8 offset-xs2 v-if="updates.hasRoom !== false && (changeRoomRequest.idChangeRoomRequest === 0 || changeRoomRequest.idChangeRoomRequest === undefined)">
          <p class="subheading text-xs-center">You do not have any active change room request. You can create one by inserting the email address of the person you wish to switch rooms with.</p>
        </v-flex>
        <v-flex xs6 offset-xs3 sm5 offset-sm3 md4 offset-md4 lg3 offset-lg4 v-if="updates.hasRoom !== false && (changeRoomRequest.idChangeRoomRequest === 0 || changeRoomRequest.idChangeRoomRequest === undefined)">
          <v-text-field
            v-model="receiverEmail"
            label="Email"
          ></v-text-field>
        </v-flex>
        <v-flex xs1 v-if="updates.hasRoom !== false && (changeRoomRequest.idChangeRoomRequest === 0 || changeRoomRequest.idChangeRoomRequest === undefined)">
          <v-btn primary :disabled="!isValidEmail" @click="createChangeRoomRequest()">
              Create
          </v-btn>
        </v-flex>
        <v-flex xs6 offset-xs3 v-if="updates.hasRoom !== false && (changeRoomRequest.idChangeRoomRequest !== 0 && changeRoomRequest.idChangeRoomRequest !== undefined)">
          <p class="subheading text-xs-center">Your change room request:</p>
        </v-flex>
        <v-flex xs10 offset-xs1 sm8 offset-sm2 md4 offset-md4 lg4 offset-lg4 v-if="updates.hasRoom !== false && (changeRoomRequest.idChangeRoomRequest !== 0 && changeRoomRequest.idChangeRoomRequest !== undefined)">
          <v-data-table hide-headers :items="[changeRoomRequest]" hide-actions class="elevation-1">
            <template slot="items" scope="props">
              <td class="text-xs-center">{{ props.item.receiverEmail }}</td>
              <td class="right">
                <v-btn small icon @click="removeChangeRoomRequest(props.item)">
                  <v-icon>close</v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-layout>
    <v-snackbar
    :timeout="snackbarProperties.timeout"
    :color="snackbarProperties.color"
    bottom
    v-model="snackbarProperties.snackbar"
    @click="snackbarProperties.snackbar = false"
    >
      {{ snackbarProperties.text }}
    </v-snackbar>
  </v-container>
</template>
<script>
import ChangeRoomRequestService from '../services/ChangeRoomRequestService'
import JwtDecodeService from '../services/JwtDecodeService'
import { mapGetters } from 'vuex'

let changeRoomRequestService = new ChangeRoomRequestService()
let jwtDecodeService = new JwtDecodeService()

export default {
  data () {
    return {
      student: {},
      senderIdStudent: {},
      receiverEmail: undefined,
      changeRoomRequest: {
        idChangeRoomRequest: undefined,
        senderIdStudent: {},
        receiverEmail: undefined
      },
      snackbarProperties: {
        timeout: 3000,
        snackbar: false,
        y: 'bottom',
        text: null,
        color: 'black'
      }
    }
  },
  computed: {
    ...mapGetters({
      updates: 'getUpdates'
    }),
    isValidEmail () {
      return this.receiverEmail !== undefined && this.receiverEmail !== null && this.receiverEmail !== ''
    }
  },
  methods: {
    getChangeRoomRequests (id) {
      changeRoomRequestService.getChangeRoomRequests(id)
        .then(response => {
          if (response.status === 200) {
            console.log('changeroomrequest response.data')
            console.log(response.data)
            this.changeRoomRequest.idChangeRoomRequest = response.data.idChangeRoomRequest
            this.changeRoomRequest.senderIdStudent = response.data.senderIdStudent
            this.changeRoomRequest.receiverEmail = response.data.receiverEmail
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    createChangeRoomRequest () {
      console.log('createchangeRoomRequest')
      console.log(this.changeRoomRequest)
      this.changeRoomRequest.idChangeRoomRequest = this.idChangeRoomRequest
      this.changeRoomRequest.senderIdStudent = this.student
      this.changeRoomRequest.receiverEmail = this.receiverEmail

      changeRoomRequestService.createChangeRoomRequest(this.changeRoomRequest)
      .then(response => {
        if (response.status === 200) {
          if (this.changeRoomRequest.idChangeRoomRequest === undefined) {
            this.changeRoomRequest.idChangeRoomRequest = response.data.extraData
            if (response.data.code === 200) {
              this.openSnackbar('success', response.data.message)
            } else {
              this.resetChangeRoomRequest()
              this.openSnackbar('warning', response.data.message)
            }
          } else {
            if (response.data.code === 200) {
              this.openSnackbar('success', response.data.message)
            } else {
              this.resetChangeRoomRequest()
              this.openSnackbar('warning', response.data.message)
            }
          }
        }
      })
      .catch(error => {
        this.openSnackbar('error', 'Could not create room request!')
        this.resetChangeRoomRequest()
        console.log(error)
      })
    },
    removeChangeRoomRequest (changeRoomRequest) {
      console.log('changeRoomRequest.idChangeRoomRequest')
      console.log(changeRoomRequest.idChangeRoomRequest)
      changeRoomRequestService.removeChangeRoomRequest(changeRoomRequest.idChangeRoomRequest)
      .then(response => {
        if (response.status === 200) {
          this.senderIdStudent = {}
          this.receiverEmail = undefined
          if (response.data.code === 200) {
            this.resetChangeRoomRequest()
            this.openSnackbar('success', response.data.message)
          } else {
            this.openSnackbar('warning', response.data.message)
          }
        }
      })
      .catch(error => {
        this.openSnackbar('error', 'Could not remove room request!')
        console.log(error)
      })
    },
    openSnackbar (color, message) {
      this.snackbarProperties.color = color
      this.snackbarProperties.text = message
      this.snackbarProperties.snackbar = true
    },
    resetChangeRoomRequest () {
      this.changeRoomRequest.idChangeRoomRequest = undefined
      this.changeRoomRequest.senderIdStudent = {}
      this.changeRoomRequest.receiverEmail = undefined
    }
  },
  created () {
    let obj = jwtDecodeService.decode(localStorage.getItem('JWT').substr(7))
    this.student = obj.studentIdentification
  },
  beforeMount () {
    this.getChangeRoomRequests(this.student)
  }
}
</script>


<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>