<template>
  <v-container fluid>
    <br>
    <br>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <blockquote>
          <div v-if="role != 'ROLE_ADMIN'">
            Select <v-icon>email</v-icon> Inbox if you want see all your active Change Room Requests from other persons.
            <br>
            <div v-if="!updates.blockChanges">
              <br>
              Select <v-icon>airline_seat_individual_suite</v-icon> Room Request to create a new room request.
              <br>
              <div v-if="updates.hasRoom">
                <br>
                Select <v-icon>shuffle</v-icon> Change Room Request if you want to switch your room with another student (you must know the student's email).
                <br>
              </div>
            </div>
            <div v-if="updates.hasRoom">
            <br>
            Select <v-icon>info</v-icon> Room Info to access your room information.
            </div>
          </div>
          <div v-if="role != 'ROLE_USER'">
            Select <v-icon>block</v-icon> Block Requests to block requests creation and remove existing ones.
          </div>
        </blockquote>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
import JwtDecodeService from '../services/JwtDecodeService'
import { mapGetters } from 'vuex'

let jwtDecodeService = new JwtDecodeService()

export default {
  data () {
    return {
      role: undefined
    }
  },
  computed: {
    ...mapGetters({
      updates: 'getUpdates'
    })
  },
  created () {
    let obj = jwtDecodeService.decode(localStorage.getItem('JWT').substr(7))
    this.role = obj.scopes[0].authority
    console.log('scopes')
    console.log(obj.scopes[0])
  }
}
</script>


<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
