<template>
  <v-container fluid>
    <br>
    <br>
    <v-slide-y-transition mode="out-in">
      <v-layout row>
        <v-flex sm8 md6 lg4 offset-lg4 offset-md3 offset-sm2>
          <p class="subheading text-xs-center" v-if="updates.updatesNumber === 0">You do not have any requests in inbox.</p>
          <div v-if="updates.updatesNumber > 0">
            <p class="subheading text-xs-center" v-if="updates.roomRequestAdditionalInformations.length != 0">You have been invited to join a room by:</p>
            <v-data-table v-if="updates.roomRequestAdditionalInformations.length != 0" hide-headers :items="updates.roomRequestAdditionalInformations" hide-actions class="elevation-1">
              <template slot="items" scope="props">
                <td class="text-xs-center">{{ props.item.colleagueEmail }}</td>
                <td class="right">
                  <v-btn small icon @click="acceptRoomRequest(props.item)">
                    <v-icon>done</v-icon>
                  </v-btn>
                  <v-btn small icon @click="removeRoomRequest(props.item)">
                    <v-icon>close</v-icon>
                  </v-btn>
                </td>
              </template>
            </v-data-table>
            <br>
            <p class="subheading text-xs-center" v-if="updates.changeRoomRequests.length != 0">You have been invited to switch rooms by:</p>
            <v-data-table v-if="updates.changeRoomRequests.length != 0" hide-headers :items="updates.changeRoomRequests" hide-actions class="elevation-1">
              <template slot="items" scope="props">
                <td class="text-xs-center">{{ props.item.senderEmail }}</td>
                <td class="right">
                  <v-btn small icon @click="acceptChangeRoomRequest(props.item)">
                    <v-icon>done</v-icon>
                  </v-btn>
                  <v-btn small icon @click="removeChangeRoomRequest(props.item)">
                    <v-icon>close</v-icon>
                  </v-btn>
                </td>
              </template>
            </v-data-table>
          </div>
        </v-flex>
      </v-layout>
    </v-slide-y-transition>
    <v-snackbar
    :timeout="snackbarProperties.timeout"
    :color="snackbarProperties.color"
    bottom
    v-model="snackbarProperties.snackbar"
    @click="snackbarProperties.snackbar = false"
    >
      {{ snackbarProperties.text }}
    </v-snackbar>
  </v-container>
</template>

<script>
import RoomRequestService from '../services/RoomRequestService'
import ChangeRoomRequestService from '../services/ChangeRoomRequestService'
import { mapGetters } from 'vuex'

let roomRequestService = new RoomRequestService()
let changeRoomRequestService = new ChangeRoomRequestService()

export default {
  data () {
    return {
      snackbarProperties: {
        timeout: 3000,
        snackbar: false,
        y: 'bottom',
        text: null,
        color: 'black'
      }
    }
  },
  computed: {
    ...mapGetters({
      updates: 'getUpdates'
    })
  },
  methods: {
    acceptRoomRequest (roomRequest) {
      console.log(roomRequest)
      roomRequestService.acceptRoomRequest(roomRequest)
      .then(response => {
        if (response.status === 200) {
          this.updates.updatesNumber = this.updates.changeRoomRequests.length
          this.updates.roomRequestAdditionalInformations.length = 0
          this.$router.push('/roominfo')
          if (response.data.code === 200) {
            this.openSnackbar('success', response.data.message)
          } else {
            this.openSnackbar('warning', response.data.message)
          }
        }
      })
      .catch(error => {
        this.openSnackbar('error', 'Could not accept room request!')
        console.log(error)
      })
    },
    removeRoomRequest (roomRequest) {
      roomRequestService.removeRoomRequest(roomRequest)
      .then(response => {
        if (response.status === 200) {
          this.updates.updatesNumber = this.updates.updatesNumber - 1
          this.updates.roomRequestAdditionalInformations.splice(this.updates.roomRequestAdditionalInformations.indexOf(roomRequest), 1)
          if (response.data.code === 200) {
            this.openSnackbar('success', response.data.message)
          } else {
            this.openSnackbar('warning', response.data.message)
          }
        }
      })
      .catch(error => {
        this.openSnackbar('error', 'Could not remove room request!')
        console.log(error)
      })
    },
    acceptChangeRoomRequest (changeRoomRequest) {
      console.log(changeRoomRequest)
      changeRoomRequestService.acceptChangeRoomRequest(changeRoomRequest)
      .then(response => {
        if (response.status === 200) {
          this.updates.updatesNumber = this.updates.roomRequestAdditionalInformations.length
          this.updates.changeRoomRequests.length = 0
          if (response.data.code === 200) {
            this.openSnackbar('success', response.data.message)
          } else {
            this.openSnackbar('warning', response.data.message)
          }
        }
      })
      .catch(error => {
        this.openSnackbar('error', 'Could not accept change room request!')
        console.log(error)
      })
    },
    removeChangeRoomRequest (changeRoomRequest) {
      console.log('changeRoomRequest.idChangeRoomRequest')
      console.log(changeRoomRequest.idChangeRoomRequest)
      changeRoomRequestService.removeChangeRoomRequest(changeRoomRequest.idChangeRoomRequest)
      .then(response => {
        if (response.status === 200) {
          this.updates.updatesNumber = this.updates.updatesNumber - 1
          this.updates.changeRoomRequests.splice(this.updates.changeRoomRequests.indexOf(changeRoomRequest), 1)
          if (response.data.code === 200) {
            this.openSnackbar('success', response.data.message)
          } else {
            this.openSnackbar('warning', response.data.message)
          }
        }
      })
      .catch(error => {
        this.openSnackbar('error', 'Could not remove room request!')
        console.log(error)
      })
    },
    openSnackbar (color, message) {
      this.snackbarProperties.color = color
      this.snackbarProperties.text = message
      this.snackbarProperties.snackbar = true
    }
  }
}
</script>


<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
