<template>
  <v-container id="form">
    <v-layout row justify-center>
      <br>
      <br>
      <v-flex xl3 lg3 md5 sm5 xs10>
        <v-card>
          <v-card-title primary-title>
            <v-flex offset-xs1>
              <h4>Login</h4>
            </v-flex>
          </v-card-title>
          <v-card-text row @keyup.enter="login">
            <v-flex xs10 offset-xs1>
              <v-text-field name="username" label="Username" id="username" :error-messages="errors" @keyup="removeErrors" v-model.trim="username" required>
              </v-text-field>
            </v-flex>
            <v-flex xs10 offset-xs1>
              <v-text-field name="password" label="Password" id="password" :error-messages="errors" @keyup="removeErrors" required v-model.trim="password" :append-icon="!visible ? 'visibility' : 'visibility_off'" :append-icon-cb="() => (visible = !visible)" :type="!visible ? 'password' : 'text'">
              </v-text-field>
            </v-flex>
          </v-card-text>
          <v-card-actions>
            <v-flex xs2 offset-xs7 class="mb-2">
              <v-btn light primary @click="login" :disabled="!isValid">Login</v-btn>
            </v-flex>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <v-snackbar
    :timeout="snackbarProperties.timeout"
    :color="snackbarProperties.color"
    bottom
    v-model="snackbarProperties.snackbar"
    @click="snackbarProperties.snackbar = false"
    >
      {{ snackbarProperties.text }}
    </v-snackbar>
  </v-container>
</template>

<script>
// import LoginService from '../services/LoginService'

// let loginService = new LoginService()

import * as types from '../store/mutation-types'

export default {
  data () {
    return {
      password: '',
      username: '',
      visible: false,
      error: '',
      log: '',
      snackbarProperties: {
        timeout: 3000,
        snackbar: false,
        y: 'bottom',
        text: null,
        color: 'black'
      }
    }
  },
  methods: {
    login () {
      this.$store.dispatch(types.LOGIN, {
        username: this.username,
        password: this.password
      }).then(response => {
        if (response.status === 200) {
          this.$store.commit(types.LOGIN_SUCCESS, {
            token: response.headers.authorization
          })
          this.$router.push('/home')
        }
      }).catch(json => {
        if (json.status !== 500) {
          console.log('response.status != 500')
          console.log(json.response.data.message)
          this.openSnackbar('error', json.response.data.message + '!')
        } else {
          console.log('response.status 500')
          this.openSnackbar('error', 'Server error!')
        }
        this.error = 'Unable to connect server.'
      })
    },
    removeErrors () {
      this.errors = []
    },
    openSnackbar (color, message) {
      this.snackbarProperties.color = color
      this.snackbarProperties.text = message
      this.snackbarProperties.snackbar = true
    }
  },
  computed: {
    isValid () {
      return this.username !== '' && this.password !== ''
    }
  }
}
</script>

<style>
</style>
