<template>
  <v-container fluid fill-height>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <br>
        <br>
        <p class="subheading text-xs-center" v-if="updates.hasRoom">You already have a room.</p>
        <div v-else>
          <p class="subheading text-xs-center" v-if="updates.roomRequestAdditionalInformations.length != 0">You have active room invites. Accept one or remove all of them in order to create a room request.</p>
          <div v-else>
          <p class="subheading text-xs-center" v-if="roomRequest.idDormRoom === undefined">You do not have any active room request.</p>
          <p class="subheading text-xs-center" v-if="roomRequest.idDormRoom === undefined">Press <v-icon>add_circle</v-icon> to create a room request.</p>
          <p class="subheading text-xs-center" v-if="roomRequest.idDormRoom !== undefined">Your room request:</p>
          <v-list xs4 two-line v-if="roomRequest.idDormRoom !== undefined">
            <template>
              <v-list-tile class="xs4" ripple @click="openRoomRequestDialog = true">
                <v-list-tile-content>
                  <v-list-tile-title>Dorm: {{ dorms[roomRequest.idDorm - 1].name }}</v-list-tile-title>
                  <v-list-tile-sub-title>Room: {{ roomRequest.idRoom }}</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>
          </v-list>
          <v-dialog v-model="openRoomRequestDialog" max-width="500px">
            <v-card>
              <v-card-title v-if="roomRequest.idDormRoom === undefined">
                Create Room Request
              </v-card-title>
              <v-card-title v-if="roomRequest.idDormRoom !== undefined">
                Edit Room Request
              </v-card-title>
              <v-card-text>
                <v-select
                  label="Select Dorm"
                  required
                  :items="dorms"
                  item-text="name"
                  return-object
                  v-model="selectedDorm"
                >
                <template slot="item" scope="data">
                  <v-list-tile-content @click="getRooms(data.item.idDorm)">
                    <v-list-tile-title>{{ data.item.name }}</v-list-tile-title>
                  </v-list-tile-content>
                </template>
              </v-select>
              </v-card-text>
              <v-card-text>
                <v-select
                  label="Select Room"
                  required
                  :items="currentRooms"
                  item-text="idRoom"
                  return-object
                  v-model="selectedRoom"
                >
                <template slot="item" scope="data">
                  <v-list-tile-content @click="limitColleaguesList(data.item)">
                    <v-list-tile-title>{{ data.item.idRoom }}</v-list-tile-title>
                  </v-list-tile-content>
                </template>
              </v-select>
              <div v-if="selectedRoom !== undefined">
                <p class="subheading">Remaining slots: {{ selectedRoom.remainingSlots - 1 }}</p>
                <v-layout row v-if="roomRequest.colleagues.length < (selectedRoom.remainingSlots - 1)">
                  <v-flex>
                    <v-text-field label="Insert colleague email" v-model="newColleague" @keyup.enter="addColleague"></v-text-field>
                  </v-flex>
                  <v-flex>
                    <v-btn small icon class="ml-2 mt-4" @click="addColleague">
                      <v-icon>add</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
                <v-container>
                <v-data-table v-if="roomRequest.colleagues.length != 0" hide-headers :items="roomRequest.colleagues" hide-actions class="elevation-1">
                  <template slot="items" scope="props">
                    <td class="text-xs-center">{{ props.item }}</td>
                    <td class="right">
                      <v-btn small icon @click="removeColleague(props.item)">
                        <v-icon>close</v-icon>
                      </v-btn>
                    </td>
                  </template>
                </v-data-table>
              </v-container>
              </div>
              </v-card-text>
              <v-card-actions>
                <v-btn color="red" dark @click.stop="closeRoomRequestDialog()">Close</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="green" :disabled="selectedRoom === undefined" dark v-if="roomRequest.idDormRoom === undefined" @click="createRoomRequest()">Create</v-btn>
                <v-btn color="green" :disabled="selectedRoom === undefined" dark v-if="roomRequest.idDormRoom !== undefined && roomRequest.idDormRoom !== 0" @click="createRoomRequest()">Change</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          </div>
        </div>
      </v-layout>
    </v-slide-y-transition>
    <v-btn fab dark v-if="roomRequest.idDormRoom === undefined && !updates.hasRoom && updates.roomRequestAdditionalInformations.length == 0" color="red" class="mb-4" @click="openRoomRequest()" bottom right fixed>
      <v-icon>add</v-icon>
    </v-btn>
    <v-snackbar
    :timeout="snackbarProperties.timeout"
    :color="snackbarProperties.color"
    bottom
    v-model="snackbarProperties.snackbar"
    @click="snackbarProperties.snackbar = false"
    >
      {{ snackbarProperties.text }}
    </v-snackbar>
  </v-container>
</template>

<script>
import DormRoomService from '../services/DormRoomService'
import RoomRequestService from '../services/RoomRequestService'
import JwtDecodeService from '../services/JwtDecodeService'
import { mapGetters } from 'vuex'

let dormRoomService = new DormRoomService()
let roomRequestService = new RoomRequestService()
let jwtDecodeService = new JwtDecodeService()

export default {
  data () {
    return {
      dorms: [],
      dormRooms: [],
      openRoomRequestDialog: false,
      selectedDorm: undefined,
      selectedRoom: undefined,
      currentRooms: [],
      student: {},
      newColleague: '',
      roomRequest: {
        idRoomRequest: undefined,
        idStudent: {},
        idDormRoom: undefined,
        colleagues: [],
        idRoom: undefined,
        idDorm: undefined
      },
      snackbarProperties: {
        timeout: 3000,
        snackbar: false,
        y: 'bottom',
        text: null,
        color: 'black'
      }
    }
  },
  computed: {
    ...mapGetters({
      updates: 'getUpdates'
    }),
    isValidRequest () {
      return this.selectedRoom
    }
  },
  methods: {
    getDorms () {
      dormRoomService.getDorms()
        .then(response => {
          if (response.status === 200) {
            this.dorms = response.data
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    getRooms (id) {
      if (this.selectedDorm !== undefined) {
        if (this.selectedDorm.idDorm !== this.roomRequest.idDorm) {
          this.selectedRoom = undefined
        }
      }
      if (this.dormRooms.filter(dormRoom => dormRoom.idDorm === id).length === 0) {
        dormRoomService.getRooms(id)
          .then(response => {
            if (response.status === 200) {
              this.dormRooms.push.apply(this.dormRooms, response.data)
              this.currentRooms = this.dormRooms.filter(dormRoom => dormRoom.idDorm === id)
              this.setSelected()
            }
          })
          .catch(error => {
            console.log(error)
          })
      } else {
        this.currentRooms = this.dormRooms.filter(dormRoom => dormRoom.idDorm === id)
      }
    },
    getRoomRequests (id) {
      roomRequestService.getRoomRequests(id)
        .then(response => {
          if (response.status === 200) {
            console.log('response.data')
            console.log(response.data)
            this.roomRequest.idStudent = response.data.idStudent
            if (response.data.idDormRoom !== null) {
              this.roomRequest.idDormRoom = response.data.idDormRoom.idDormRoom
              this.roomRequest.idRoom = response.data.idDormRoom.idRoom
              this.roomRequest.idDorm = response.data.idDormRoom.idDorm
            }
            this.roomRequest.idRoomRequest = response.data.idRoomRequest
            if (response.data.colleagues === null) {
              this.roomRequest.colleagues = []
            } else {
              this.roomRequest.colleagues = response.data.colleagues
            }
            if (response.data.idDormRoom !== null) {
              return this.getRooms(response.data.idDormRoom.idDorm)
            }
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    createRoomRequest () {
      console.log('colleagues')
      console.log(this.roomRequest.colleagues)
      this.roomRequest.idDormRoom = this.selectedRoom.idDormRoom
      this.roomRequest.idStudent = this.student
      this.roomRequest.idDorm = this.selectedDorm.idDorm
      this.roomRequest.idRoom = this.selectedRoom.idRoom

      roomRequestService.sendRoomRequest(this.roomRequest.idRoomRequest !== undefined ? {
        idRoomRequest: this.roomRequest.idRoomRequest,
        idStudent: this.student,
        idDormRoom: {
          idDormRoom: this.selectedRoom.idDormRoom
        },
        colleagues: this.roomRequest.colleagues
      } : {
        idStudent: this.student,
        idDormRoom: {
          idDormRoom: this.selectedRoom.idDormRoom
        },
        colleagues: this.roomRequest.colleagues
      }).then(response => {
        if (response.status === 200) {
          if (this.roomRequest.idRoomRequest === undefined) {
            this.roomRequest.idRoomRequest = response.data.extraData
            if (response.data.code === 200) {
              this.updates.hasRoom = true
              this.openRoomRequestDialog = false
              this.openSnackbar('success', response.data.message)
              this.$router.push('/roominfo')
            } else {
              this.openSnackbar('warning', response.data.message)
            }
          } else {
            if (response.data.code === 200) {
              this.updates.hasRoom = true
              this.openRoomRequestDialog = false
              this.openSnackbar('success', response.data.message)
              this.$router.push('/roominfo')
            } else {
              this.openSnackbar('warning', response.data.message)
            }
          }
        }
      })
        .catch(error => {
          this.openSnackbar('error', 'Could not create room request!')
          this.roomRequest.idDormRoom = undefined
          console.log(error)
        })
    },
    setSelected () {
      if (this.selectedDorm === undefined) {
        this.selectedDorm = this.dorms.filter(dorm => dorm.idDorm === this.roomRequest.idDorm)[0]
      }
      if (this.selectedRoom === undefined && this.selectedDorm !== undefined) {
        this.selectedRoom = this.dormRooms.filter(dormRoom => dormRoom.idRoom === this.roomRequest.idRoom)[0]
      }
    },
    addColleague () {
      if (this.newColleague !== '') {
        this.roomRequest.colleagues.push(this.newColleague)
        this.newColleague = ''
      }
    },
    removeColleague (colleague) {
      if (colleague != null) {
        this.roomRequest.colleagues.splice(this.roomRequest.colleagues.indexOf(colleague), 1)
      }
    },
    limitColleaguesList (room) {
      if (this.roomRequest.colleagues.length > (room.remainingSlots - 1)) {
        this.roomRequest.colleagues = this.roomRequest.colleagues.splice(0, room.remainingSlots - 1)
      }
    },
    openRoomRequest () {
      this.openRoomRequestDialog = true
    },
    closeRoomRequestDialog () {
      this.openRoomRequestDialog = false
    },
    openSnackbar (color, message) {
      this.snackbarProperties.color = color
      this.snackbarProperties.text = message
      this.snackbarProperties.snackbar = true
    },
    follow (link) {
      this.$router.push(link)
    }
  },
  created () {
    let obj = jwtDecodeService.decode(localStorage.getItem('JWT').substr(7))
    this.student = obj.studentIdentification
  },
  beforeMount () {
    this.getDorms()
    this.getRoomRequests(this.student)
  }
}
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
