<template>
  <v-container fluid>
    <br>
    <br>
    <v-layout row wrap>
      <v-flex xs10 offset-xs1 sm8 offset-sm2  v-if="updates.hasRoom === false">
        <p class="subheading text-xs-center">You do not have any assigned room. Please create a room request.</p>
      </v-flex>
      <v-flex xs12 sm7 offset-sm2 md5 offset-md3 lg3 offset-lg5 v-if="updates.hasRoom !== false">
        <p class="subheading text-xs-center">Your room:</p>
        <br>
        <v-layout row wrap>
          <v-flex xs6>
            <p>Dorm:</p>
          </v-flex>
          <v-flex xs6>
            {{ myRoom.dormName }}
          </v-flex>
          <v-flex xs6>
            <p>Room:</p>
          </v-flex>
          <v-flex xs6>
            {{ myRoom.roomId }}
          </v-flex>
          <v-flex xs6>
            <p>Remaining slots:</p>
          </v-flex>
          <v-flex xs6>
            {{ myRoom.remainingSlots }}
          </v-flex>
        </v-layout>
        <div v-if="myRoom.colleagues === undefined || myRoom.colleagues.length !== 0">
          <p class="subheading text-xs-center">Colleagues:</p>
          <p class="subheading text-xs-center" v-for="item in myRoom.colleagues">{{ item }}</p>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import DormRoomService from '../services/DormRoomService'
import JwtDecodeService from '../services/JwtDecodeService'
import { mapGetters } from 'vuex'

let dormRoomService = new DormRoomService()
let jwtDecodeService = new JwtDecodeService()

export default {
  data () {
    return {
      myRoom: {},
      student: {}
    }
  },
  computed: {
    ...mapGetters({
      updates: 'getUpdates'
    })
  },
  methods: {
    getMyRoom (id) {
      dormRoomService.getMyRoom(id)
        .then(response => {
          if (response.status === 200) {
            this.myRoom = response.data
            console.log('myRoom')
            console.log(this.myRoom)
            console.log('response.data')
            console.log(response.data)
          }
        })
        .catch(error => {
          console.log(error)
        })
    }
  },
  created () {
    let obj = jwtDecodeService.decode(localStorage.getItem('JWT').substr(7))
    this.student = obj.studentIdentification
  },
  beforeMount () {
    this.getMyRoom(this.student)
  }
}
</script>
