<template>
  <v-app toolbar>
    <v-navigation-drawer
      fixed
      :clipped="$vuetify.breakpoint.lgAndUp"
      app
      v-model="drawer"
    >
      <v-list dense>
        <template v-for="item in activeItems">
          <v-list-tile @click="follow(item.link)" :key="item.text">
            <v-list-tile-action>
              <v-icon>{{item.icon}}</v-icon>
            </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                    {{ item.text }}
                </v-list-tile-title>
              </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      color="blue darken-3"
      dark
      app
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      fixed
    >
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
          <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
          <span>MyDormRoom</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn @click = "showUpdates()" icon>
        <v-badge v-model="showNotifications" color="red">
          <span slot="badge">{{ updates.updatesNumber }}</span>
          <v-icon>notifications</v-icon>
        </v-badge>
      </v-btn>
      <v-menu auto open-on-hover offset-y :nudge-width="150">
        <v-btn icon slot="activator" large>
          <v-icon>account_circle</v-icon>
        </v-btn>
        <v-list>
          <v-list-tile>
            <v-list-tile-title>{{ username }}</v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click = "logOutUser()">
            <v-list-tile-title>Logout</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-content>
      <router-view>
      </router-view>
    </v-content>
  </v-app>
</template>

<script>
import LoginService from '../services/LoginService'
import JwtDecodeService from '../services/JwtDecodeService'
import { mapGetters } from 'vuex'

let loginService = new LoginService()
let jwtDecodeService = new JwtDecodeService()

export default {
  data: () => ({
    username: null,
    dialog: false,
    drawer: null,
    role: null,
    filteredItems: [],
    items: [
      { icon: 'home', text: 'Home', link: '/home', access: 'all', request: false, room: false },
      { icon: 'email', text: 'Inbox', link: '/inbox', access: 'ROLE_USER', request: false, room: false },
      { icon: 'airline_seat_individual_suite', text: 'Room Request', link: '/roomRequest', access: 'ROLE_USER', request: true, room: false },
      { icon: 'shuffle', text: 'Change Room Request', link: '/changeroomrequest', access: 'ROLE_USER', request: true, room: true },
      { icon: 'info', text: 'Room Info', link: '/roominfo', access: 'ROLE_USER', request: false, room: true },
      { icon: 'block', text: 'Block Changes', link: '/blockanychanges', access: 'ROLE_ADMIN', request: false, room: false }
    ],
    yearsOfStudy: {}
  }),
  computed: {
    ...mapGetters({
      updates: 'getUpdates'
    }),
    showNotifications () {
      return this.updates.updatesNumber > 0
    },
    activeItems () {
      let _this = this
      return this.items.filter(function (i) {
        // return (i.access === 'all' || i.access === _this.role) || !(_this.updates.blockChanges && i.request) || (!_this.updates.hasRoom && i.room)
        return (i.access === _this.role || i.access === 'all') && (!(_this.updates.blockChanges && i.request) === true) && ((_this.updates.hasRoom || !i.room) === true)
      })
    }
  },
  methods: {
    logOutUser () {
      loginService.logOutUser()
    },
    follow (link) {
      this.$router.push(link)
    },
    showUpdates () {
      console.log(this.updates)
      this.follow('/inbox')
    }
  },
  beforeMount () {
    let obj = jwtDecodeService.decode(localStorage.getItem('JWT').substr(7))
    if (obj.firstName !== undefined && obj.lastName !== undefined) {
      this.username = obj.firstName + ' ' + obj.lastName
    } else {
      this.username = obj.sub
    }
    this.role = obj.scopes[0].authority
    console.log(obj.scopes[0].authority)
    console.log(obj)
    console.log(obj.lastName)
    console.log(obj.firstName)
    // let date = new Date(obj.exp)
  },
  mounted () {
    console.log('activeitems')
    console.log(this.activeitems)
  },
  props: {
    source: String
  }
}
</script>