<template>
  <v-app>
    <router-view>
    </router-view>
    <v-footer color="blue-grey" class="white--text" bottom fixed app>
      <span>MyDormRoom</span>
      <v-spacer></v-spacer>
      <span>&copy; 2018</span>
    </v-footer>
  </v-app>
</template>

<style lang="stylus">
  @import './stylus/main'
</style>
